<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
    <div style="background: url(assets/loginbg.png);
    background-size: 140%;
    height: 100%;
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-position: bottom;
    background-color: brown;
    ">
        <form #form="ngForm" (ngSubmit)="register(form)">
            <ion-grid>
                <ion-row color="primary" justify-content-center>
                    <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                        <div style="text-align: center;">
                            <img src="assets/bbloginlogowhite.png" style="max-width: 150px; margin-top: 50px; margin-bottom: 50px;" />
                        </div>
                        <div [hidden]="!AppForClient">
                            <ion-item>
                                <ion-input id="environment" name="environment" type="text" placeholder="Client ID" [(ngModel)]="formvalue.environment" required></ion-input>
                            </ion-item>
                        </div>
                        <div>
                            <ion-item>
                                <ion-input name="username" type="text" placeholder="User Name" [(ngModel)]="formvalue.username" required></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-input name="password" type="password" [(ngModel)]="formvalue.password" placeholder="Password" ngModel required></ion-input>
                            </ion-item>
                        </div>
                        <div>
                            <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">Log In</ion-button>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </form>
    </div>
</ion-content>