<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="secondary" fill="clear" (click)="BookAppt()">
            <ion-icon name="add-circle-outline" slot="icon-only"></ion-icon>
        </ion-buttons>
        <ion-title>Appoinment</ion-title>
    </ion-toolbar>
    <ion-toolbar>
        <ion-segment color="warning" (ionChange)="ionChangeEvent($event)" scrollable [(ngModel)]="selectedStatus">
            <ion-segment-button value="0">
                <ion-label>All</ion-label>
            </ion-segment-button>
            <ion-segment-button *ngFor="let sts of status" value="{{sts.LookUpId}}">
                <ion-label>{{sts.Value}}</ion-label>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-button (click)="toggleInfiniteScroll()" expand="block" *ngIf="false">
        Toggle Infinite Scroll
    </ion-button>

    <ion-list *ngFor="let i of data">
        <ion-item>
            <ion-label (click)="viewAppts(i.AppointmentId)">
                <h3 [hidden]="isCustomer">
                    {{ i.Firstname + " " + i.Surname }}
                </h3>
                <h3 [hidden]="isClient">
                    {{ i.TenantName }}
                </h3>
                <p>
                    <span>
            <ion-icon name="time-outline"></ion-icon> {{ i.ApptDateTmFt }}
          </span>
                </p>
                <p>
                    <ion-text color="secondary">{{ i.status }}</ion-text>
                </p>
                <p>
                    <span>
            <ion-text color="success">
              <ion-icon color="success" name="calendar-outline"></ion-icon>
              {{ i.ApptDateDtFt }}
            </ion-text>
          </span>
                </p>
                <p [hidden]="!i.ApptService">
                    <ion-text color="success">
                        <ion-icon color="success" name="cut-outline"></ion-icon>
                        {{ i.ApptService }}
                    </ion-text>
                </p>
            </ion-label>

            <ion-icon color="warning" (click)="presentActionSheet(i.AppointmentId)" name="create"></ion-icon>
            <!-- <ion-button>
                <ion-icon name="pencil"></ion-icon>
            </ion-button>
            <ion-button>
                <ion-icon name="pencil"></ion-icon>
            </ion-button> -->
        </ion-item>
    </ion-list>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>