<ion-header>
    <ion-toolbar>
        <ion-title>Register</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div style="background: url(assets/loginbg.png);
    background-size: 200%;
    height: 100%;
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-position: bottom;
    background-color: #fff;
    ">
        <form #form="ngForm" (ngSubmit)="register(form)">
            <ion-grid>
                <ion-row justify-content-center>
                    <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                        <div *ngIf="AppForClient">
                            <ion-item>
                                <ion-input id="environment" name="environment" type="text" placeholder="Client ID" [(ngModel)]="formvalue.environment" required></ion-input>
                            </ion-item>
                        </div>
                        <div>
                            <ion-item>
                                <ion-input id="username" name="username" type="text" placeholder="User Name" [(ngModel)]="formvalue.username" required></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-input id="password" name="password" type="password" [(ngModel)]="formvalue.password" placeholder="Password" ngModel required></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-input id="confirmpassword" name="confirmpassword" type="password" [(ngModel)]="formvalue.connfirmpassword" placeholder="Confirm Password" ngModel></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-input id="email" name="email" type="email" [(ngModel)]="formvalue.email" placeholder="Email" ngModel required></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-input id='phone' name="phone" type="phone" [(ngModel)]="formvalue.phone" placeholder="Phone" ngModel required></ion-input>
                            </ion-item>
                        </div>
                        <div>
                            <ion-button type="submit" [disabled]="form.invalid" expand="block">Register</ion-button>
                            <ion-button type="button" (click)="gotologin()" expand="block">Login</ion-button>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </form>
    </div>
</ion-content>